aiohttp==3.9.1
aiosignal==1.3.1
ansicon==1.89.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.2
blessed==1.20.0
bs4==0.0.1
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
cli-helpers==2.3.0
click==8.1.7
colorama==0.4.6
configobj==5.0.8
contexttimer==0.3.3
cryptography==42.0.1
defusedxml==0.7.1
dj-rest-auth==5.0.2
Django==4.2.7
django-allauth==0.60.1
django-cors-headers==4.3.1
django-crontab==0.7.1
django-nextjs==2.4.0
django-rest-auth==0.9.5
djangorestframework==3.14.0
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.41
humanfriendly==10.0
idna==3.4
jinxed==1.2.1
joblib==1.3.2
multidict==6.0.4
numpy==1.26.3
oauthlib==3.2.2
optional-django==0.1.0
pandas==2.1.4
pendulum==3.0.0
pgcli==4.0.1
pgspecial==2.1.1
prompt-toolkit==3.0.43
psycopg==3.1.17
psycopg2==2.9.9
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
scikit-learn==1.2.2
scipy==1.12.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
soupsieve==2.5
sqlparse==0.4.4
srsly==2.4.8
tabulate==0.9.0
threadpoolctl==3.3.0
time-machine==2.13.0
tqdm==4.66.1
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
wcwidth==0.2.13
websockets==12.0
yarl==1.9.4