<!DOCTYPE html>
<html>

<head>
    <title>User Information</title>
</head>
<body>
    <h1>{{ users.username }}</h1>

    <h2>Favourite Projects</h2>

    <ul>
        <!-- {% for proj in users.favourite_projects %}
        <li>{{ proj }}</li>

        {% endfor %} -->
        {% for project in project %}
        <li>
            <a href="{% url 'project_detail' owner=project.owner name=project.name %}">
                {{ project.owner }} / {{ project.name }}
            </a>
            <!-- - GitHub: <a href="{{ project.repo_url }}" target="_blank">{{ project.repo_url }}</a> -->
        </li>
        {% endfor %}
    </ul>

    <h2>Email (testing purposes)</h2>
    <p>{{ users.email }}</p>

    <!-- Add any additional details you want to display -->
</body>

</html>