{% block content %}
<div class="m-auto w-[50%] m-auto border rounded-lg">
  <h1 class="text-center bg-gray-100 h-[52px] font-bold text-3xl">Sign In</h1>
  <h2 class="text-center my-3">
    <p>
      {% if process == "connect" %}
      You are about to connect a new third party account from {{ provider.name }}.
      {% else %}
      You are about to sign in using a third party account from {{ provider.name }}.
      {% endif %}
    </p>
  </h2>
  <form method="post">
    <div class="justify-center mx-3">
      {% csrf_token %}
      <button type="submit" class="bg-red-200 my-3 rounded-lg w-[100%] p-2">
        Continue
      </button>
    </div>
  </form>
</div>
{% endblock %}
